@model List<Secure_The_Pass_Services_Core.Services.AccountService.Dto.Account>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Secure_the_pass.styles.css" asp-append-version="true"/>
</head>

<table item>
    <tr>
        @Model[0].Guid
    </tr>

    <tr>
        @Model[0].Email
    </tr>
    <tr>
        @Model[0].Username
    </tr>
    <tr>
        @Model[0].Password
    </tr>
    <tr>
        @Model[0].Website
    </tr>
</table>